.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.home {
	display: grid;
	position: relative;
	place-items: center;
	min-height: 100vh;
	color: #fff;
	&__nav {
		position: fixed;
		z-index: 10;
		background-image: linear-gradient(to right, #00000098, #12012680);
		width: 100%;
		backdrop-filter: blur(8px);
		a {
			font-size: 1.125rem;
			text-decoration: none;
		}
		&--mobile-container {
			@media (min-width: 640px) {
				display: none;
			}
			&-page {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				color: #d1d5db;
				font-size: 0.875rem;
				line-height: 1.25rem;
				font-weight: 500;
				border-radius: 0.375rem;

				&-active {
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					padding-left: 0.75rem;
					padding-right: 0.75rem;
					color: #d1d5db;
					font-size: 0.875rem;
					line-height: 1.25rem;
					font-weight: 500;
					border-radius: 0.375rem;
				}
			}
			&-wrapper {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				padding-top: 0.5rem;
				padding-bottom: 0.75rem;
				margin-top: 0.25rem;
			}
		}
		&--right {
			display: flex;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			background-color: #3b82f6;
			color: #ffffff;
			font-size: 1rem !important;
			line-height: 1.25rem;
			font-weight: 500;
			display: flex;
			align-items: center;
			border-radius: 0.375rem;
			&-svg {
				margin-right: 0.25rem;
				color: #d8e7fa;
				width: 1rem;
				height: 1rem;
			}
			&-container {
				display: flex;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				padding-right: 0.5rem;
				display: flex;
				align-items: center;

				@media (min-width: 640px) {
					position: static;
					top: auto;
					right: auto;
					bottom: auto;
					left: auto;
					padding-right: 0;
					margin-left: 1.5rem;
				}
			}
		}
		&--links {
			display: none;

			@media (min-width: 640px) {
				display: block;
				margin-left: 1.5rem;
			}
			&-link {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 0.75rem;
				padding-right: 0.75rem;
				color: #d1d5db;
				font-size: 0.875rem;
				line-height: 1.25rem;
				font-weight: 500;
				border-radius: 0.375rem;
				&:hover {
					color: #ecf0f7;
				}
				&-active {
					color: #fff;
				}
			}
			&-container {
				display: flex;
				margin-left: 1rem;
			}
		}
		&--logo {
			display: flex;
			display: flex;
			flex: 1 1 0%;
			justify-content: center;
			align-items: center;

			@media (min-width: 640px) {
				justify-content: flex-start;
				align-items: stretch;
			}
			&-large-hidden {
				display: block;
				width: auto;
				height: 2rem;

				@media (min-width: 1024px) {
					display: none;
				}
			}
			&-large-block {
				display: none;
				width: auto;
				height: 2rem;

				@media (min-width: 1024px) {
					display: block;
				}
			}
			&-container {
				display: flex;
				flex-shrink: 0;
				align-items: center;
			}
		}
		&--mobile-btn {
			display: inline-flex;
			padding: 0.5rem;
			color: #9ca3af;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 0.375rem;
			&-svg-visible {
				display: block;
				width: 1.5rem;
				height: 1.5rem;
			}
			&-svg-hidden {
				display: none;
				width: 1.5rem;
				height: 1.5rem;
			}
			&-container {
				display: flex;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				display: flex;
				align-items: center;

				@media (min-width: 640px) {
					display: none;
				}
			}
		}
		&--container {
			padding-left: 0.5rem;
			padding-right: 0.5rem;

			@media (min-width: 640px) {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}

			@media (min-width: 1024px) {
				padding-left: 2rem;
				padding-right: 2rem;
			}
		}
		&--wrapper {
			display: flex;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 4rem;
		}
	}
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100vh;
	}
	&__container {
		display: flex;
		margin-top: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__header {
		font-size: 3.75rem;
		line-height: 1;
		font-weight: 700;
		text-align: center;
	}
	&__subtitle {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-top: 1rem;
	}
	&__info {
		padding-top: 2rem;
		margin-left: 1rem;
		font-size: 1rem;
		line-height: 1.5rem;
		a {
			text-decoration: none;
		}
		&--btn1 {
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			background-color: #3b82f6;
			color: #ffffff;
			font-weight: 500;
			border-radius: 0.375rem;
		}
		&--btn2 {
			margin-left: 0.75rem;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			color: #ffffff;
			font-weight: 500;
			border-radius: 0.375rem;
			border: solid 0.1rem #3b82f6;
		}
	}
}
